body{
    font-family: 'Manrope', sans-serif;
}

.butt{
    height: 30px;
    width: 50px;
}
.article-text{
    margin-top: 10px;
    margin-bottom: 0px;
}
.article-hl{
    margin: 10px auto;
}
.divider{
    margin-left: 15px
}
img{
    max-width: 100%;
}

.cat{
    margin-bottom: 5px;
}

.profile{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.name{
    display: flex;
    align-items: center;
    gap: 5px;
}
button{
    border: none;
    border-radius: 5px;
    height: 30px;
}
hr{
    color: gray;
    margin: auto 15px;
}
#buttons{
    display: flex;
    width: 240px;
    justify-content: space-around;
    margin: auto 15px;
    margin-bottom: 40px;
}
.quick-art{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8% 15px;
}
.quick-pic{
    height: 150px;
    border-radius: 10px;
}
#dark-area{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
}
#sub{
    color: white;
    text-align: center;
}
#sub-text{
    color: white;
    text-align: center;
}
#unlock{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-weight: 600;
    font-size: larger;
}
#uhh{
    text-align: center;
}
#other-sub{
    text-align: center;
}
.search-art{
    margin-left: 15px;
}
#searchbar{
    border: 1px gray solid;
    border-radius: 10px;
    display: flex;
    width: 340px;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
}
#srch{
    margin-left: 20px;
}
#magnify{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}
#subutt{
background-color: black;
height: 60px;
width: 340px;
border-radius: 10px;
color: white;
font-weight: 600;
font-size: larger;
margin-right: 15px;
margin-top: 15px;
}
#socials{
    width: 100%;
    display: flex;
    justify-content: center;
}
#sicons{
    width: 200px;
}
#sub-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
#finally{
    text-align: center;
}
#search-area{
    display: flex;
    justify-content: center;
}

#featured{
    display: flex;
    flex-direction: column;
}