body{
    font-family: 'Manrope', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px gray solid;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    height: 80px;
}
.right-head{
    display: flex;
    width: 35%;
    justify-content: space-between;
}
.blank-article{
    max-width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px; 
    padding-bottom: 30px;
    background-color: black;
    border-radius: 10px;
    margin: auto 15px;
    color: white;
    justify-content: flex-end;
}
.article-foot{
    display: flex;
    align-content: space-around;
    align-items: center;
    font-weight: 700;
    padding-top: 0;
    gap: 10%;
}
.butt{
    height: 30px;
    width: 50px;
}
.hanging-article{
    border-bottom: 1px gray solid;
    margin-left: 15px;
}
.article-text{
    margin-top: 10px;
    margin-bottom: 0px;
}
.article-hl{
    margin: 10px auto;
}
#trailing-art{
    border-bottom: none;
    padding-bottom: 35px;
}
.divider{
    margin-left: 15px
}
img{
    max-width: 100%;
}
.article-img{    
    border-radius: 10px;
}
.cat{
    margin-bottom: 5px;
}
.graphic-article{
    margin: auto 15px;
    margin-bottom: 30px;
}
.profile{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.name{
    display: flex;
    align-items: center;
    gap: 5px;
}
button{
    border: none;
    border-radius: 5px;
    height: 30px;
}
hr{
    color: gray;
    margin: auto 15px;
}
#buttons{
    display: flex;
    width: 240px;
    justify-content: space-around;
    margin: auto 15px;
    margin-bottom: 40px;
}
.quick-art{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8% 15px;
}
.quick-pic{
    height: 150px;
    border-radius: 10px;
}
#dark-area{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
}
#sub{
    color: white;
    text-align: center;
}
#sub-text{
    color: white;
    text-align: center;
}
#unlock{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-weight: 600;
    font-size: larger;
}
#uhh{
    text-align: center;
}
#other-sub{
    text-align: center;
}
.search-art{
    margin-left: 15px;
}
#searchbar{
    border: 1px gray solid;
    border-radius: 10px;
    display: flex;
    width: 340px;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
}
#srch{
    margin-left: 20px;
}
#magnify{
    height: 35px;
    width: 35px;
    margin-right: 20px;
}
#subutt{
background-color: black;
height: 60px;
width: 340px;
border-radius: 10px;
color: white;
font-weight: 600;
font-size: larger;
margin-right: 15px;
margin-top: 15px;
}
#socials{
    width: 100%;
    display: flex;
    justify-content: center;
}
#sicons{
    width: 200px;
}
#sub-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
#finally{
    text-align: center;
}
#search-area{
    display: flex;
    justify-content: center;
}